<html>

<head>
	<title>Complete Your Game</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
<div class="container">
	<strong>Game Name</strong>: <%= game.gameName %><br>
	<form action=<%= "/api/gamePlayer/" + game._id %> method="POST">
		<div id="playerList">
		</div>

		<label for="players">Players</label>
		<select id="players" name="players">
			<option>Choose a player</option>
		</select>	
		<button type="submit" class="btn btn-primary">Add Player</button>
	</form>
</div>

	<div class="container ">
		<div class="row">
			<h2>Players Added to Game</h2>
			<div class="container">				
				<div id="selectedPlayers">
					<div class="row">
						<div class="col-xs-1">
						</div>
						<div class="col-xs-2">
							<h4>Agent Handle</h4>
						</div>
						<div class="col-xs-8">
							<h4>Target Handle</h4>
						</div>

					</div>

				<div class="row tablerow">
					<% if (game.players) {
					game.players.forEach(function(player, index) { %>
					<div class="row">
					<button class="col-xs-1 remove-button" type="submit" title="Terminate Player" onclick="deleteGuy('<%= game._id %>','<%= player %>')">
						<span class="glyphicon glyphicon-remove"></span>
					</button>

				<div class="col-xs-2">
					<%= player %>
				</div>

				<div class="col-xs-8">
					<%= game.targets[index] %> 

				</div>
				</div>
					<%})}%>
				</div>
				</div>
			</div >
			<div class="col-xs-12 container">
			<form action=<%= "/api/targetRoutes/" + game._id %> method="POST" id="startButton" > 
			<button type="submit" title="Start Gaming" class="btn btn-danger">
						Assign Targets
					</button>
			</form>
			</div>
			<form class="input-group">
						<span class="input-group-addon" id="basic-addon1">Confirm Target Hug</span>
						<input type="text" class="form-control" name="tag" placeholder="Agent Tag">

						<button type="submit" onClick="deleteTarget('<%=game._id%>', player.tag)" class="btn btn-warning btn-lg">Enter Tag</button>
					</form>
			

		</div>
		<div class="submit">
						<span class="submit" id="basic-addon1">Start Loving</span>

						<button type="submit" href="profile.ejs" class="btn btn-warning btn-lg">Start Game</button>
					</div>
	</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/pickplayers.js"></script>
<script type="text/javascript">playerGetter('<%= game._id %>')</script>

</body>
</html>
